{% extends 'OverlordProjectBundle::layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    <table class="table table-bordered table-striped table-hover">
        {% for user in users %}
            <tr>
                <td>{{ user.screenName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.type }}</td>
                <td><a class="btn btn-info" href="#">Edit</a></td>
                <td><form><button type="submit" class="btn btn-danger">Delete</button></form></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
