<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets 'bundles/overlordfrontend/css/bootstrap/bootstrap.less' 
        'bundles/overlordfrontend/css/master.less'
        filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts 'bundles/overlordfrontend/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block customCss %}{% endblock %}
    {% block customJs %}{% endblock %}
  </head>
  <body>
<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="brand" href="{{ path('project_dashboard') }}">Overlord</a>
       <ul class="nav">
           <li><a href="#">Projects</a></li>
           <li><a href="{{ path('project_users') }}">Users</a></li>
           <li><a href="#">My Account</a></li>
       </ul>
     </div>
   </div>
 </div>
      {% block body %}{% endblock %}
  </body>
</html>