{% extends 'OverlordFrontendBundle::layout.html.twig' %}

{% block body %}

<div id="content">
    <div class="login l-centered">
    <h1>Login to Overlord</h1>    
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
        <form action="{{ path('login_check') }}" method="post">
            <label for="email">Email</label>
            <input type="email" id="email" name="_username" value="{{ lastEmail }}" />

            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />

            <button type="submit" class="btn btn-success">
                <i class="icon-circle-arrow-right icon-white"></i>
                Login
            </button>
        </form>
    </div><!--.login-->
</div>
{% endblock %}